.bg-image {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 49rem;
  width: 100%;
}

.bg-name {
  position: absolute;
  top: 44%;
  left: 44%;
  width: 215px;
  height: 52px;
  margin-left: -115px;
  margin-top: -20px;
  color: rgb(253, 89, 72);
  font-size: 130px;
  font-weight: bolder;
}

@media only screen and (max-width: 63.9375em) {
  .bg-image {
    background-image: url('../images/resposive-header.jpg');
  }
}

@media only screen and (max-width: 63.9375em) {
  .bg-name {
    text-align: center;
    left: 42%;
    font-size: 450%;
  }
}