.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 60px;
  width: 100%;
  color: black;
  padding: 0 2rem;
  font-size: 1rem;
  border-bottom: 0.3px solid rgb(167, 167, 167);
}

.nav-logo {
  text-decoration: none;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: 0.3s all;
}

.nav-link:hover {
  color: blueviolet;
}

.nav__logo {
  z-index: 30;
  position: relative;
  margin-left: 1.25rem;
  margin-right: 2em;
  margin-bottom: 1.25rem;
}

.nav__logo__img {
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 63.9375em) {
  .navbar {
    position: relative;
    z-index: 20;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    vertical-align: middle;
    padding-left: .625rem;

    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
  }

  .nav-links.active {
    background: blue;
    left: 0;
    font-weight: bold;
    font-size: .800rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-link {
    color: white;
  }

  .nav-item {
    display: block;
    margin-bottom: 1em;
    padding: 1px 0;
    border-bottom: 1px;
  }

  .nav-icon {
    display: flex;
  }
}
